CvCounter {
  background-color: #202020;
  border: 1px solid #808080;
  border-radius: 5px;
  color: #FFBF00;
}

CvCounter[online=false] {
  color: #FF0000;
}

CvCounter[online=true] {
  color: #00FF00;
}

QSlider::handle {
    background-color: #4BA6FF;
}

QProgressBar::chunk {
    background-color: #4BA6FF;
}